body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 50px;
    font-size: 16px;
}

.navbar {
    background-color: #0B0C10;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #C5C6C7;
    text-align: center;
    padding: 17px 32px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #1F2833;
    color: white;
}

.navbar a.active {
    background-color: #45A29E;
    color: white;
}


#challengesIcon {
    color: #66FCF1;
}

#homeIcon {
    color: #66FCF1;
}


#settingsIcon {
    color: #66FCF1;
}

#logoutIcon {
    color: #66FCF1;
}



.navbar .icon {
    display: none;
}


.navbar .logout {
    float: right;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none; }
    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    ,navbar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}



.padded {
    align: center;
    float: center;
    margin: 16px;
    width: 97%;
    margin-bottom: 16px;
}


.challengesCompleted {
    font-size: 16px;
    font-weight: bold;
}


.centered {
    align: center;
    text-align: center;
    float: center;
}


.achievementHolder {
    margin: 16px;
    margin-top: 32px;
    max-height: 300px;
}

.achievement {
    padding: 16px;
    border-radius: 5px;
    border: solid;
    display: inline-block;
    margin: 8px;
    background: #D3D3D3; 
}

.achievementTitle {
    font-size: 16px;
    font-weight: bold;
}


.achievementIcon {
    width: 100px;
    height: auto;
}

.achievementDescription {
    font-style: italic;
    max-width: 175px;
}

#achievementsLabel {
    font-weight: bold;
    font-size: 24px;
    padding-left: 16px;

}

.profileIndicator {
    font-size: 48px;
    font-weight: 1;
    color: #1F2833;
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
}

.profileCircle {
    float: left;
    border-radius: 50%;
    border: solid 1px #45A29E;
    background-color: #C5C6C7;
    width: 75px;
    height: 75px;
    opacity: 0.90;
    box-shadow: 0 1px 2px 0 #0B0C10;

}

.namePlacard {
   padding: 8px;
   margin-left: 24px;
   margin-top: 24px;
   margin-bottom: 16px;
}

.textInformation {
    float: left;
    margin-left: 16px;
    margin-top: 24px;
    padding: 0px;
}


.user {
    float: left;
    color: #45A29E;
    font-weight: bold;
}

.username {
    float: left;
    font-style: italic;
    color: #45A29E;
}

.adminText {
    margin-right: 56px;
    float: right;
    color: #45A29E;
    font-size: 16px;
    font-weight: 700;
}

#isAdmin {
    float: right;
    color: #0B0C10;
    margin-left: 8px;
    font-weight: 100;
}


.theButtons {
    float: right;
    padding: 8px;
    margin-right: 0px;
    margin-top: 0px;
}

.buttons {
    max-width: 200px;
    width: 200px;
    background-color: #45A29E;
    color: white;
    text-align: center;
    border-radius: 8px;
    margin: 8px 0px 8px 8px; 
    height: 42px;
    vertical-align: middle;
    line-height: 42px;
    transition: all 0.2s ease-in-out;

}

.buttons:hover {
    transform: scale(1.1);
    background-color: #30716e;
    cursor: pointer;
}

.adminAndButtons {
    float: right;
    margin-right: 32px;
    margin-top: 24px;
}

.flavorTextNote {
    color: #C5C6C7;
    font-size: 16px;
    text-align: center;
}

