<!DOCTYPE html>
<html>
        
    <head>

        {% load static %}
        <title> Hacking Challenge </title>
        <meta charset="utf-8">
        <script src="https://unpkg.com/vue@next"></script>
        <script defer src="{% static 'homepage/main.js' %}"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="{% static 'homepage/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'homepage/style.css' %}">


    </head>

    <div class="navbar" id="myNavbar">
            <a  href="../"> <i class="fa fa-home" aria-hidden="true"></i>
Home </a>
            <a href="/challenges/"> <i class="fa fa-code" aria-hidden="true"></i>
Challenges </a>
            <a class="active settings" href=""> <i class="fa fa-cog" aria-hidden="true"></i>
Settings </a>
            <a class="logout" href="logoutUser"> <i class="fa fa-sign-out" aria-hidden="true"> </i>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()"> <i class = "fa fa-bars"> </i> </a>
        </div>




    <body>



    </body>







</html>
