<!DOCTYPE html>
<html>

    <head>
        {% load static %}
        <title> Console </title>
        <script src="{% static 'homepage/node_modules/vue/dist/vue.global.prod.js' %}"></script>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'homepage/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'wolfIncorporated/consoleStyle.css' %}">



    </head>
    
    <body>
        <div id="topBanner">
            <a class="linkText" href="../">
                <div id="entry">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    Return To Lone Wolf
                </div>
        </a>
        </div>



        <div id="hint"> *Very limited commands* </div>

        <div class="console">
            <form class="form" action="" method="POST" autocomplete="off">
                {% csrf_token %}
                <textarea id="consoleInput" onkeydown="pressed(event)" placeholder="%" name="console" autofocus></textArea>

                {% if messages %}
                        <div class="messages"> {{messages}} </div>
                {% endif %}
            </form>
        </div>
        
		<div>
		<form action="../deleteAllEmails/" method="POST" class="aligning">
			{% csrf_token %}
			<input type="submit" value="Delete Emails" class="delete-emails"/>
		</form>
		</div>


    </body>

        <!-- Simple Script from Stack Overflow that submits the form when enter is pressed -->
        <script>
            function pressed(e) {
                if ( (window.event ? event.keyCode : e.which) == 13) {
                    document.querySelector('form').submit();
                }
            }
        </script>

</html>
