<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title> Lone Wolf </title>
        <script src="https://unpkg.com/vue@next"></script>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'homepage/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'wolfIncorporated/style.css' %}">
    </head>

    <body>
        <h1> We are sorry. This site has been deleted by some hacker </h1>
        <h4> We lost everything. There was no backup. Everyone lost their jobs </h4>
        <h6> The owner of this company even went on to try and conquer a land, and ended up killing thousands </h6>
        <h6> To the hacker out there, I wish you would have thought about the real people out there before doing this </h6>

        <h6> I guess you deserve a flag. It's this: {{ flag }}</h6>

        <a href="../"> Return Back Home </a>


    </body>


</html>
