<!DOCTYPE html>


<html>

    <head>
        {% load static %}
        <title> Lone Wolf </title>
        <script src="https://unpkg.com/vue@next"></script>
        <script defer src="{% static 'wolfIncorporated/main.js' %}"></script>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'homepage/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'wolfIncorporated/style.css' %}">
    </head>
    
    <body>


        <div id="topBar">
            <img id="wolfLogo" aria-hidden="true" src="{% static 'wolfIncorporated/images/wolfInc.jpeg' %}" alt="Wolf Majestically Howling Into the Darkness">
            <div class='wolfBanner'>
                <div class='wolfBannerText'> Lone Wolf </div>
            </div>
        </div>


        <div> Congrats on hacking the first challenge. Your flag: </div>
        <div> Hint: Find a way to elevate your status to admin </div>


        {% if first_name %}
            <div class="centered usernameText"> {{ first_name }} {{ last_name }} </div>
            {% if admin %}
                <div class="centered"> Your flag is JFDKLSJLKRULK#$ </div>
            {% endif %}
        {% else %}
            <div class="centered usernameText"> {{ user.firstName }} {{ user.lastName }} </div>
       {% endif %}

        
        <div id="mainContent">
            <div class="centered" v-if="notLoaded">
                Loading...
            </div>
            <div v-else>
                <div class="clockInDiv">
                    <div class="centered"> [% date %] </div>
                    <div class="centered"> [% time %] </div>
                    <div class="clock-in" @click="clockIn"> Clock In </div>
                </div>


                <div id="currentlyWorkingEmployees">
                    <div id="underlined"> Other Employees Currently Working </div>
                    <div>
                        {% for employee in employees %}
                        <div> {{ employee.first_name }} {{ employee.last_name }} </div>
                        {% endfor %}
                    </div>
                </div>


                <div :hidden="emailPopupInvisible" class="popup_hints" id="email">
                    <span class="helper"></span>
                    <div>
                        <div class="compose"> <i class="fa fa-edit" aria-hidden="true" @click="composeEmail"></i></div>
                        <div class="popupCloseButton" @click="email">&times;</div>
                        <div class="emailItem"> 
                            <img class="emailProfilePic" src="{% static 'wolfIncorporated/images/sauron.jpeg' %}" alt="BossMan"> 
                            <div class='emailBlock'>
                                <div class='emailText'> Sauron </div>
                                {% autoescape off %}
                                <div class='emailContent'> Welcome to Lone Wolf, {{user.first_name}}! We are glad to have <div onmouseover="alert(`Yay!`)"> you! </div> </div>
                                {% endautoescape %}
                            </div>
                        </div>
                    </div>
                </div>


                <div :hidden="composePopupInvisible" class="popup_hints" id="email">
                    <span class="helper"></span>
                    <div>
                        <div class="popupCloseButton" @click="composeEmail">&times;</div>
                        <form class="emailForm">                
                            <input type="text" placeholder="To: (Have a dropdown list, so you select from them, or select everyone"></input><br>
                            <input type="text" placeholder="Subject Line:"></input><br>
                            <textarea placeholder="Write something here:"></textarea><br>
                            <input type="submit" value="Send"></input>
                        </form>
                    </div>
                    
                </div>
                

                <div :hidden="clockInPopupInvisible" class="popup_hints" id="clock_in">
                    <span class="helper"></span>
                    <div>
                        <div class="popupCloseButton" @click="clockIn">&times;</div>
                        <p><strong> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Strange Error... Employee ID is invalid. We will look into this. </strong></p>
                    </div>
                </div>

                <div class="emailPopup" @click="email">
                    <div class="emailPopupText" > 
                        Email ([% unreadEmails %] unread message) 
                    </div>
                </div>
            </div>
        </div>

