<!DOCTYPE html>
<html>

    <head>
        {% load static %}
        <title> Lone Wolf </title>
        <script src="https://unpkg.com/vue@next"></script>
        <script defer src="{% static 'wolfIncorporated/main.js' %}"></script>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'homepage/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'wolfIncorporated/style.css' %}">
    </head>
    
    <body>

        {% if admin %}
        <div id="topBar">
            <img id="wolfLogo" aria-hidden="true" src="{% static 'wolfIncorporated/images/wolfInc.jpeg' %}" alt="Wolf Majestically Howling Into the Darkness">
            <div class='wolfBanner'>
                <div class='wolfBannerText'> Lone Wolf </div>
                <div class="adminSpacer"></div>
                <div class='wolfBanner'>
                    <a class='wolfBannerAdmin' href="admin/"> 
                        <div class='consoleText'>Admin </div>
                    </a> 
                    <a class="wolfBannerConsole" href="console/"> 
                        <div class='consoleText'> Console </div>
                    </a>
                </div>
            </div>
        </div>



        {% else %}
        <div id="topBar">
            <img id="wolfLogo" aria-hidden="true" src="{% static 'wolfIncorporated/images/wolfInc.jpeg' %}" alt="Wolf Majestically Howling Into the Darkness">
            <div class='wolfBanner'>
                <div class='wolfBannerText'> Lone Wolf </div>
            </div>
            <div class="spacer"></div>
            <div class='wolfBanner'>
                <a class="wolfBannerConsole" href="console/"> 
                    <div class='consoleText'> Console </div>
                </a>
            </div>
        </div>
        {% endif %}

        {% if not admin %}
        <div> Congrats on hacking the first challenge. Your flag: #CH**O#SEN_#^%ON--=E</div>
        <div> Hint: Find a way to elevate your status to admin </div>
        <div> Cryptic Hint: When you find what to do, just alert it </div>
        {% endif %}


        {% if first_name %}
            <div class="centered usernameText"> {{ first_name }} {{ last_name }} </div>
            {% if serverRunning %}
                <div class="centered">Server is running on 77.165.734.77 </div>
            {% endif %}
            {% if admin %}
            <div class="centered"> Your flag is {{flag}}$ </div>
            {% endif %}
        {% else %}
            <div class="centered usernameText"> {{ user.firstName }} {{ user.lastName }} </div>
       {% endif %}

        
        <div id="mainContent">
            <div class="centered" v-if="notLoaded">
                Loading...
            </div>
            <div v-else>
                <div class="clockInDiv">
                    <div class="centered"> [% date %] </div>
                    <div class="centered"> [% time %] </div>
                    <div class="clock-in" @click="clockIn"> Clock In </div>
                </div>


                <div id="currentlyWorkingEmployees">
                    <div id="underlined"> Other Employees Currently Working </div>
                    <div>
                        {% for employee in employees %}
                        <div> {{ employee.first_name }} {{ employee.last_name }} </div>
                        {% endfor %}
                        {% if first_name %}
                        <div> {{ request.user.first_name }} {{ request.user.last_name }} </div>
                        {% endif %}
                    </div>
                </div>

                
                {% if cookie != '' %}
                    <div class="fromServer"> 
                        <div style="font-weight: bold;"> From Server: </div>
                        <div> Employee Cookie: {{ cookie }} </div>
                    </div> 
                {% endif %}

                <div :hidden="emailPopupInvisible" class="popup_hints" id="email">
                    <span class="helper"></span>
                    <div>
                        <div class="compose"> <i class="fa fa-edit" aria-hidden="true" @click="composeEmail"></i></div>
                        <div class="popupCloseButton" @click="email">&times;</div>
                        <div class="emailItem"> 

                            {% for email in emails %}
                            <div class='emailBlock'>
                                {% if email.image != "" %}
                                <img class="emailProfilePic" src="{% static 'wolfIncorporated/images/sauron.jpeg' %}" alt="BossMan"> 
                                {% endif %}
                                <div class='emailText'> {{email.sender}} </div>
                                {% autoescape off %}
                                <div class='emailContent'> {{ email.content }} </div>
                                {% endautoescape %}
                            </div> <br>
                            {% endfor %}
                        </div>
                    </div>
                </div>


                <div :hidden="composePopupInvisible" class="popup_hints" id="email">
                    <span class="helper"></span>
                    <div>
                        <div class="popupCloseButton" @click="composeEmail">&times;</div>
                        <form class="emailForm" method="POST" action="../sendEmail/">
                            {% csrf_token %}
                            <select name="recipient" class="formEntry">
                                {% for employee in everyone %}
                                <option value="{{employee.first_name}} {{ employee.last_name }}"> {{employee.first_name}} {{ employee.last_name }}</option>
                                {% endfor %}
                                <option value="Everyone">Everyone</option>
                            </select> <br>
                            <input name="subjectLine" type="text" class="formEntry" placeholder="Subject Line:"></input><br>
                            <textarea class="formEntry formEntryTall" name="emailContent" placeholder="Write something here:"></textarea><br>
                            <span><i class="fa fa-paper-plane sendIcon" aria-hidden=`true`></i> 
                            <input type="submit" id="submitButton" value="Send" />
                        </form>
                    </div>
                    
                </div>
                

                <div :hidden="clockInPopupInvisible" class="popup_hints" id="clock_in">
                    <span class="helper"></span>
                    <div>
                        <div class="popupCloseButton" @click="clockIn">&times;</div>
                        <p><strong> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Strange Error... Employee ID is invalid. We will look into this. </strong></p>
                    </div>
                </div>

                <div class="emailPopup" @click="email">
                    <div class="emailPopupText" > 
                        Email ([% unreadEmails %] unread message) 
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script>
        // Stack Overflow credit https://stackoverflow.com/questions/51312980/how-to-get-and-set-cookies-in-javascript
        let cookie = ''
        let name = "Employee=";
        let ca = document.cookie.split(';')
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt[0] == ' ') c = c.substring(1, c.length);
            if (c.indexOf(name) == 0) cookie = c.substring(name.length, c.length);
        }

        if (cookie != 'FDJLL@KJLF' && cookie != '') {
        } else {
            document.cookie = `Employee=&*FDJLL@KJLF;expires=none; SameSite=Lax;`
        }
    </script>



</html>
