<!DOCTYPE html>


<html>

    <head>
        {% load static %}
        <title> Wolf Inc. </title>
        <script src="https://unpkg.com/vue@next"></script>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'homepage/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'wolfIncorporated/style.css' %}">
    </head>
    
    <body>


        <div id="topBar">
            <img id="wolfLogo" aria-hidden="true" src="{% static 'wolfIncorporated/images/wolfInc.jpeg' %}" alt="Wolf Majestically Howling Into the Darkness">
            <div class='wolfBanner'>
                <div class='wolfBannerText'> Lone Wolf </div>
            </div>
        </div>


        <div> Congrats on hacking the first challenge. Your flag: </div>
        <div> Hint: Find a way to elevate your status to admin </div>


