<!DOCTYPE html>

<html>

    <head>

        {% load static %}
        <title> Challenges </title>
        <meta charset="utf-8">
        <script src="https://unpkg.com/vue@next"></script>
        <script defer async src="{% static 'playground/main.js' %}"></script>
    </head> 


    <body>


        <div id="challenges">

            <h1> [% someText %] </h1>
            
            <div>
                <div v-if="dataLoading"> Loading... </div>
                <div v-else>
                    <div v-for='dataObject in objectFromDatabase'>
                        <h5> [% dataObject['description']  %] [% dataObject['date'] %]  [% dataObject['completed']  %]</h5>
                    </div>
                </div>
            </div>


        </div>




    </body>













</html>
