<!DOCTYPE html>

<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <script src="https://unpkg.com/vue@next"></script>
        <link rel="stylesheet" href="{% static 'homepage/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'challenges/style.css' %}">

    </head>

    <body>

        {% include 'challenges/levelDescriptionTemplate.html' %}

        <div style="align: center; text-align: center; font-size: 16px; margin-top: 16px;"> qCGeFfekiW! </div>


    </body>


</html>
