
<!DOCTYPE html>

<html>
    <head>
        {% load static %}
        <meta charset="utf-8">

        <script src="{% static 'homepage/node_modules/vue/dist/vue.global.prod.js' %}"></script>
        <script type="module" defer src="{% static 'challenges/levelDescription.js' %}"></script>
        <link rel="stylesheet" href="{% static 'challenges/popupStyle.css' %}">
        <link rel="stylesheet" href="{% static 'challenges/incorrectIndicator.css' %}">
        <link rel="stylesheet" href="{% static 'challenges/challengeBar.css' %}">
        <title> Challenge {{ challenge.order }} </title>
        <script src="https://unpkg.com/vue@next"></script>
        <link rel="stylesheet" href="{% static 'homepage/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'challenges/style.css' %}">

    </head>

    <body>

        {% include 'challenges/levelDescriptionTemplate.html' %}

        <div class="challenge-desc">
            <div class="layer-down">
                <div class="some-stuff">
                </div>
                <span class="challenges">
                    <div hidden class="some-stuff">
                        <script>
                            //This is how I generated my password. "i,L,o,V,e,H,a,C,k,I,n,G" function createPassword(seed){ password = [];seed = seed.split(","); seed.forEach((char, i) => { if (i % 2 == 0){ password.push(i)} password.push(char); }); return password.toString().replace(/,/g,"");}
                        </script>	
                    </div>
            </div>
        </div>


    </body>


</html>
