<!DOCTYPE html>

<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <script src="https://unpkg.com/vue@next"></script>
        <link rel="stylesheet" href="{% static 'homepage/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'challenges/style.css' %}">

    </head>

    <body>

        {% include 'challenges/levelDescriptionTemplate.html' %}


        <div class="loneWolfDiv">
            <a class="loneWolfLink" href="../../WhiteBox/"> 
                <img class="wolfLogo" src={% static 'challenges/whitebox.jpeg' %}/> 
                <br>
                White Box  
            </a>
            <div class="whiteBoxDetails"> Recent security flaws were found in this website. Use it to solve challenges 7-10
        </div>



    </body>


</html>
