<!DOCTYPE html>

<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'homepage/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'challenges/style.css' %}">
    </head>

    <body>

        {% include 'challenges/levelDescriptionTemplate.html' %}

        <div hidden><p> Just in case I forget... This was the most popular password the year the first avengers movie came out. </div>


    </body>
</html>
