{% load static %}



        <script defer src="{% static 'challenges/challengeBar.js' %}"></script>


    <div id='challengeBar'>
        <div v-if='isDoneLoading'>
        <div class="navbar" id="myNavbar">
            <a class="active" href="/challenges/"> <i class="fa fa-arrow-left rightSpacing" aria-hidden="true"></i> Challenges </a>

            <div v-if="unlocked">

                <div class='onTheRight'> <a  href="/challenges/{{challenge.nextChallengeID}}">  Next Challenge  <i class="fa fa-arrow-right leftSpacing" aria-hidden="true"></i></a> </div>

            </div>


            {% if challenge.nextChallenge == 'false' %}
            <div class='onTheRight'> <a  href="/challenges/{{challenge.nextChallengeID}}">  Next Challenge  <i class="fa fa-arrow-right leftSpacing" aria-hidden="true"></i></a> </div>
            {% endif %}

        </div>
        </div>
    </div>
