<!DOCTYPE html>

<html>
    <head>
        {% load static %}
        <title> Level 1 </title>
        <meta charset="utf-8">
        <script src="https://unpkg.com/vue@next"></script>
        <link rel="stylesheet" href="{% static 'homepage/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'challenges/style.css' %}">

    </head>

    <body>

        {% include 'challenges/challengeBar.html' %} 
        {% include 'challenges/levelDescriptionTemplate.html' %}

        <div class="challenge-desc">
            <div class="layer-down">
                <div class="some-stuff">
                </div>
                <span class="challenges">
                    <div class="some-stuff">
                    </div>
                    <!-- the password is FJKLDAS$@*()789fds -->
            </div>
        </div>
    </body>


</html>
