<!DOCTYPE html>

<html>

    <head>

        {% load static %}
        <title> Challenges </title>
        <meta charset="utf-8">
        <script src="https://unpkg.com/vue@next"></script>
        <script defer src="{% static 'challenges/main.js' %}"></script>
        <link rel="stylesheet" href="{% static 'homepage/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'challenges/style.css' %}">

    </head> 


    <body>
        {% include 'challenges/navbar.html' %}



        <div id="challenges" class="challengeContainer">


            <div class="challengeContainer"> <div class="titleDescription"> Beginner Challenges </div>
                {% if challenges %}
                    {% for challenge in challenges %}
                        {% if challenge.hidden == 'false' %}
                            {% if challenge.completed == 'true' %}
                                {% if challenge.order <= 100 %}
                                    <a class="linkText" href={% url 'challenges:challengeDetails' challenge.id %}>
                                    <div :class="{card: !isCompleted, completedCard: !isCompleted, locked: isLocked, newHover: isCompleted,}" v-bind:id="{{challenge.order}}">
                                        <div class="container">
                                            <div class="levelText"> Challenge {{ challenge.order }} </div>
                                        </div>
                                    </div>
                                    </a>
                                {% endif %}
                            {% else %}
                                <a class="linkText" href={% url 'challenges:challengeDetails' challenge.id %}>
                                <div :class="{card: !isCompleted, completedCard: isCompleted, locked: isLocked, newHover: isCompleted,}" v-bind:id="{{challenge.order}}">
                                    <div class="container">
                                    <div class="levelText"> Challenge {{ challenge.order }} </div>
                                </div>
                                </div>
                                </a>
                            {% endif %}
                        {% endif %} 
                    {% endfor %}
                {% else %}
                <p> No challenges are available </p>
                {% endif %}
            </div>
        </div>


        {% if intermediateChallenges %}
        <div class="challengeContainer"> <div class="titleDescription"> Intermediate Challenges </div> 

        {% endif %}


        {% if advancedChallenges %}
        <div class="challengeContainer"> <div class="titleDescription"> Advanced Challenges </div> 
        {% endif %}









        </div>

    </body>


    <script>
        function myFunction() {
            let navbar = document.getElementById("myNavbar");
            if (navbar.className === "navbar") {
                navbar.className += " responsive";
            } else {
                navbar.className = "navbar";
            }
        }
    </script>









</html>
