<!DOCTYPE html>

<html>

    <head>

        {% load static %}
        <title> Challenges </title>
        <meta charset="utf-8">
        <script src="https://unpkg.com/vue@next"></script>
        <script defer src="{% static 'challenges/main.js' %}"></script>
    </head> 


    <body>


        <div id="challenges">

            <h1> [% someText %] </h1>
            
            <div v-if="challengesFromDatabase === null"> Loading... </div>
            <div v-else>
                <div v-for='challenge in challengesFromDatabase'>
                    <h5> [% challenge.title %] [% challenge.description %] [% challenge.pointValue %] [% challenge.difficultyIndicator %] </h5>
                </div>
            </div>
        </div>




    </body>













</html>
