<!DOCTYPE html>

<html>

    <head>

        {% load static %}
        <title> Challenges </title>
        <meta charset="utf-8">
        <script src="https://unpkg.com/vue@next"></script>
        <script defer src="{% static 'challenges/main.js' %}"></script>
        <link rel="stylesheet" href="{% static 'homepage/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'challenges/style.css' %}">

    </head> 


    <body>
        <div class="navbar" id="myNavbar">
            <a  href="/"> <i class="fa fa-home" aria-hidden="true"></i>
Home </a>
            <a class="active" href=""> <i class="fa fa-code" aria-hidden="true"></i>
Challenges </a>
            <a class="settings" href="/settings/"> <i class="fa fa-cog" aria-hidden="true"></i>
Settings </a>
            <a class="logout" href="/logout/"> <i class="fa fa-sign-out" aria-hidden="true"> </i>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()"> <i class = "fa fa-bars"> </i> </a>
        </div>



        <div id="challenges">

            <h1> [% someText %] </h1>
            
            <div v-if="challengesFromDatabase === null"> Loading... </div>
            <div v-else>
                <div :class="{card: !isCompleted, completedCard: isCompleted, locked: isLocked, newHover: isCompleted,}" v-bind:id="challenge.order" @click="goToChallenge($event)" v-bind:href="{% url 'challenges:challenge' challenge.id %}" v-for='challenge in challengesFromDatabase' >
                    <div class="container">
                        <div class="levelText"> Level [% challenge.order %] </div>
                    </div>
                </div>
            </div>
        </div>




    </body>


    <script>
        function myFunction() {
            let navbar = document.getElementById("myNavbar");
            if (navbar.className === "navbar") {
                navbar.className += " responsive";
            } else {
                navbar.className = "navbar";
            }
        }
    </script>









</html>
