<div class="movedDownForChallengeBar">
    <div class="levelNumber"> Challenge {{ challenge.order }} </div>

    <div class="levelDescription"> {{challenge.description }} </div>

    <div id="formAndHints">
        <div hidden id="backend">'false'</div>
        <div v-if="isLoaded">
            <div id='challengeBar'>
                <div class="navbar" id="myNavbar">
                    <a class="active" href="/challenges/"> <i class="fa fa-arrow-left rightSpacing" aria-hidden="true"></i> Challenges </a>
                    <a href="/challenges/allChallenges/"> <i class="fa fa-archive" aria-hidden="true"></i> All Challenges </a>

                    <div :hidden= "locked" class='onTheRight'> <a  href="/challenges/{{challenge.nextChallengeID}}">  Next Challenge  <i class="fa fa-arrow-right leftSpacing" aria-hidden="true"></i></a> </div>
                </div>
            </div>

            <div :hidden= "isInvisible" id="hints" class="popup_hints">
                <span class="helper"></span>
                <div>
                    <div class="popupCloseButton" @click=getHints()>&times;</div>
                    <p><strong> Requires Knowledge of: </strong></p>
                    <ul id="hintsList">
                        {% for hint in challenge.hint_set.all %}
                        <li> {{ hint.hint }} </li>
                        <br> 
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>



        <form action="../validation/" id="passcodeForm" method="POST" >


            <input v-model="passcodeInput" id="passcodeValidation" name="passcodeValidation" placeholder="password">
            <button type="button" id="submitButton" @click=validateInput()> Submit </button>
            <input hidden id="challenge_id" name='challenge_id' value = {{ challenge.order }}>
            <input hidden id="csrf_token" value = {{ csrf_token }}>
            <button type="button"  id="hintButton" @click=getHints()> View Hint </button>
            <br>
            <div :hidden= "isIncorrectHidden" id="incorrectIndicator">
                <div id="incorrectText"> Incorrect! </div>
            </div>
            <div :hidden= "isCorrectHidden" id="correctIndicator">
                <div id="correctText"> Correct! </div>
            </div>
            <div :hidden= "isAssignmentClosedHidden" id="incorrectIndicator">
                <div id="incorrectText"> Correct! However, Assignment is Currently Closed and no further progress will count for your grade! </div>
            </div>
        </form>
    </div>
</div>
