<!DOCTYPE html>

<html>

    <head>

        {% load static %}
        <title> Hacking Challenge </title>
        <meta charset="utf-8">
        <script src="https://unpkg.com/vue@next"></script>
        <script defer src="{% static 'homepage/main.js' %}"></script>
        <link rel="stylesheet" href="{% static 'homepage/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'homepage/style.css' %}">


    </head>
        <div class="navbar" id="myNavbar">
            <a class="active" href=""> <i class="fa fa-home" aria-hidden="true"></i>
Home </a>
            <a href="/challenges/"> <i class="fa fa-code" aria-hidden="true"></i>
Challenges </a>
            <a class="settings" href="/settings/"> <i class="fa fa-cog" aria-hidden="true"></i>
Settings </a>
            <a class="logout" href="/logout/"> <i class="fa fa-sign-out" aria-hidden="true"> </i>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()"> <i class = "fa fa-bars"> </i> </a>
        </div>
        


            <div id="homepage">


            </div>



    <script>
        function myFunction() {
            let navbar = document.getElementById("myNavbar");
            if (navbar.className === "navbar") {
                navbar.className += " responsive";
            } else {
                navbar.className = "navbar";
            }
        }
    </script>




    </body>





</html>
