<!DOCTYPE html>

<html>

    <head>

        {% load static %}
        <title> Hacking Challenge </title>
        <meta charset="utf-8">
        <script src="https://unpkg.com/vue@next"></script>
        <script defer src="{% static 'homepage/main.js' %}"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="{% static 'homepage/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'homepage/style.css' %}">


    </head>
        <div class="navbar" id="myNavbar">
            <a class="active" href=""> <i class="fa fa-home" aria-hidden="true"></i>
Home </a>
            <a href="/challenges/"> <i class="fa fa-code" aria-hidden="true"></i>
Challenges </a>
            <a class="settings" href="/settings/"> <i class="fa fa-cog" aria-hidden="true"></i>
Settings </a>
            <a class="logout" href="logoutUser"> <i class="fa fa-sign-out" aria-hidden="true"> </i>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()"> <i class = "fa fa-bars"> </i> </a>
        </div>
        


            <div id="homepage">
                <div hidden ref="admin">{{ isAdmin }}</div>
                <div hidden ref="completedChallenges"> {{ completedChallenges }} </div>
                <div hidden ref="numChallenges"> {{ numChallenges }} </div>

                <div v-if="isNotLoaded"> Loading... </div>
                <div v-else>

                    <div class="user"> {{ user.first_name }} {{ user.last_name }} </div>
                    <div class="centered bigger-font" :class="{ admin: isAdmin }">
                        [% isAdminText %]
                    </div>


                    <div class="centered">
                        <form action="resetFlavorText" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="Reset Flavor Text"> (On settings page) </input>
                        </form>
                    </div>


                    <div class="padded">
                        <div class="w3-light-gray">
                            <div id="progressBar" class="w3-container w3-green w3-center" :style="{width: percentComplete}">[% percentComplete %] </div>
                        </div>
                        <div class="challengesCompleted">
                            <div> You have completed [% completedChallenges %]/[% numChallenges %] challenges </div>
                        </div>
                    </div>

                    <div id="achievementsLabel"> Achievements: </div>

                    <div class="centered">
                        <div class="achievementHolder">
                            {% for achievement in achievements %}
                            <div class="achievement">
                                <div class="achievementTitle"> {{ achievement.title }} </div>
                                <div> <img class="achievementIcon" src="{{ achievement.achievementIcon.url }}"> </div>
                                <div class="achievementDescription"> {{ achievement.description }} </div>
                            </div>
                            {% endfor %}
                        </div>



                </div>


    <script>
        function myFunction() {
            let navbar = document.getElementById("myNavbar");
            if (navbar.className === "navbar") {
                navbar.className += " responsive";
            } else {
                navbar.className = "navbar";
            }
        }
    </script>




    </body>





</html>
