<!DOCTYPE html>

<html>

    <head>

        {% load static %}
        <title> Hacking Challenge </title>
        <meta charset="utf-8">
        <script src="https://unpkg.com/vue@next"></script>
        <script defer src="{% static 'homepage/main.js' %}"></script>
        <link rel="stylesheet" href="{% static 'homepage/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'homepage/style.css' %}">


    </head>

    <body>

        <div class="navbar" id="myNavbar">
            <a  class="active" href=""> <i class="fa fa-home" aria-hidden="true" id="homeIcon"></i>
                Home </a>
            <a  href="/challenges/"> <i class="fa fa-code" aria-hidden="true" id="challengesIcon"></i>
                Challenges </a>
            <div class="divider"></div>

            {% if request.user.is_superuser %}
                <a href="../customAdmin" > <i class="fa fa-user" id="adminIcon" aria-hidden="true"></i> Admin </a>
                <div class="divider"></div>
            {% endif %}
            <a class="logout" href="logoutUser"> <i class="fa fa-sign-out" aria-hidden="true" id="logoutIcon"> </i> </a>
            <div class="divider" style="float: right;"> </div>

            <a class="settings" href="/settings/"> <i class="fa fa-cog" aria-hidden="true" id="settingsIcon"></i>
                Settings 
            </a>

            <div class="divider" style="float: right;"> </div>

                <a href="javascript:void(0);" class="icon" onclick="myFunction()"> <i class = "fa fa-bars"> </i> </a>
        </div>


                <div>
                    <div class="namePlacard">
                        <div class="profileCircle" >
                            {% if isAdmin == True %}
                            <div class="profileIndicator"> A </div>
                            {% else %}
                            <div class="profileIndicator"> U </div>
                            {% endif %}
                        </div>
                        <div class="textInformation">
                            <div class="user"> {{ firstName }} {{ lastName }} </div> <br>
                            <div class="username"> {{ username }} </div>
                        </div>



                        <div class="adminAndButtons">
                            <div class="theButtons">
                                <form action="resetFlavorText" method="POST">
                                    {% csrf_token %}
                                    <input type="submit" value="Reset Flavor Text" class="buttons"/>
                                <div class="flavorTextNote"> *On Settings page </div>
                            </div>
                        </div>

                    </div>
                </div>

               <hr class="pageEnder">

                
               <div id="homepage">
                   <div hidden ref="admin">{{ isAdmin }}</div>
                   <div hidden ref="completedChallenges"> {{ completedChallenges }} </div>
                   <div hidden ref="numChallenges"> {{ numChallenges }} </div>
                   <div hidden ref="numRequiredChallenges"> {{ numRequiredChallenges }} </div>


                   <div v-if="isNotLoaded"> Loading... </div>
                   <div class="completedChallenges" v-else>
                       <div class="challengesCompleted">
                           <div> Challenge Progress: [% completedChallenges %] / [% numRequiredChallenges %] </div>
                       </div>
                        <div id="progressBar">
                            <div id="progressText"> [% percentComplete %] </div>
                            <div id="completeBar" :style="{width: percentComplete}"> </div>
                        </div>
                   </div>
               </div>


                    <!-- <div class="padded">
                        <div class="w3-light-gray">
                        <div id="progressBar" class="w3-container w3-green w3-center" :style="{width: percentComplete}">[% percentComplete %] </div>
                        </div>
                        <div class="challengesCompleted">
                        <div> You have completed [% completedChallenges %]/[% numChallenges %] challenges </div>
                        </div>
                        </div>
                    -->

                        <div class="centered">
                        <div class="achievementHolder">
                        {% for achievement in achievements %}
                        <div class="achievement">
                        <div class="achievementTitle"> {{ achievement.title }} </div>
                        <div> <img class="achievementIcon" src="{{ achievement.achievementIcon.url }}"> </div>
                        <div class="achievementDescription"> {{ achievement.description }} </div>
                        </div>
                        {% endfor %}
                        </div>


                        </div>

            </div>
    </body>

    <script>
        function myFunction() {
            let navbar = document.getElementById("myNavbar");
            if (navbar.className === "navbar") {
                navbar.className += " responsive";
            } else {
                navbar.className = "navbar";
            }
        }
    </script>









</html>
