body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    font-size: 24px;
    background: #0B0C10;
    padding: 8px 32px;
    color: #66FCF1;
}

#hackingChallengeTitle {
    color: #45A29E;
    margin-left: 16px;
}

#passwordLogin {
    margin-bottom: 40%;
}

#password {
    margin-bottom: 10%;
}

.formEntry {
    padding: 16px;
    border-radius: 8px;
    border-style: solid;
    outline: none;
    font-size: 16px;
}

.formEntryLogin {
    margin-left: 4px;
    margin-right: 4px;
    padding: 16px;
    border-radius: 8px;
    border-style: solid;
    outline: none;
    width: 75%;
    font-size: 16px;
    margin-bottom: 4px;
    margin-top: 4px;
}

.formEntry:focus {
    border-color: black;
}


#submitButton {
    max-width: 200px;
    width: 200px;

    background-color: #45A29E;
    color: white;
    text-align: center;
    border-radius: 8px;
    margin: 8px 0px 8px 8px; 
    height: 42px;
    vertical-align: middle;
    line-height: 42px;
    transition: all 0.2s ease-in-out;
}

#submitButton:hover {
    transform: scale(1.1);
    background-color: #30716e;
    cursor: pointer;
}

.signUpText {
    margin-top: 32px;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
    float: left;
}

.signUpText:hover {
    color: #30716e;
    cursor: pointer;
    transform: scale(1.1);

}

.linkText {
    color: #45A29E;
    text-decoration: none;
}

.errors {
    color: red;
    font-size: 32px;
    font-style: bold;
    text-align: center;
    align: center;
    padding: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.sameLine {
    display: flex;
}

.split {
    flex-basis: 50%;
}

#accountInformation {
    padding: 8px;    
    flex-basis: 33%;
    margin-top: 15%;
}

.signinForm {
    padding: 16px;
    margin-top: 24px;
    box-shadow: 0 2px 4px 0 #0B0C10;
    border-radius: 8px;
    text-align: center;
    width: 45%;
}


.createAccountForm {
    padding: 16px;
    margin-top: 24px;
    box-shadow: 0 2px 4px 0 #0B0C10;
    border-radius: 8px;
    text-align: center;
    flex-basis: 66%;
    margin-left: 1%;
}

.wrapperCreate {
    display: flex;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.createAccountText {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 24px;
}

.entry {
    margin-top: 8px;
    width: 100%;
    margin-bottom: 8px;
}

#submitButtonLogin {
    flex-basis: 20%;
    background-color: #45A29E;
    color: white;
    text-align: center;
    border-radius: 8px;
    vertical-align: middle;
    line-height: 50px;
    transition: all 0.2s ease-in-out;
}

#submitButtonLogin:hover {
    transform: scale(1.1);
    background-color: #30716e;
    cursor: pointer;
}

.bottomButtonHolder { 
    display: flex;
    height: 50px;
    white-space: nowrap;

}

.whiteSpace {
    flex-basis: 50%
}


.signInText {
    flex-basis: 30%;
    line-height: 50px;
    vertical-align: bottom;
    font-weight: 700;
    justify-content: flex-start;
    transition: all 0.2s ease-in-out;
}

.signInText:hover {
    color: #30716e;
    cursor: pointer;
    transform: scale(1.1);
}
