table {
  border-collapse: collapse;
  color: #ddd;
  margin: 16px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

thead{
  font-weight: bold;
  background-color: #fff;
  color: #333;
}

tbody tr:nth-child(even) {
  background-color: #252525;
}