<!DOCTYPE html>

<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <title> White Box </title>
        <script src="{% static 'homepage/node_modules/vue/dist/vue.global.prod.js' %}"></script>
        <link rel="stylesheet" href="{% static 'homepage/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'challenges/style.css' %}">
        <link rel="stylesheet" href="{% static 'whiteBoxHacking/style.css' %}">
    </head>

    <body>

        {% include 'challenges/challengeBar.html' %} 

        <div class='whiteBoxMainContent'>
            <div class="whiteBoxLogoContainer">
                <img class="whiteBoxLogo" src="{% static 'whiteBoxHacking/whitebox.jpeg' %}"/>
                <div class="whiteBoxLabel"> White Box </div>
            </div>

            <div id="explanationText"> White Box was recently hit with a hack that exposed their source code to everyone. Ironically, much unlike its name, it relied on tight blackboxing their code to hide their security flaws. <br> Use them to find your next few flags. </div>

        </div>


        <div class="loginForm">
            <form action="giveWhatTheyWant" method="GET" autocomplete="off">
                <input class="formEntry bash" type="text" name="unix">
                <button type="submit"> Submit </button>
            </form>
        </div>




    </body>


</html>
