<!DOCTYPE html>

<html>

    <head>
        {% load static %}
        <title> CS2610 Login </title>
        <meta charset="utf-8">
        <script src="https://unpkg.com/vue@next"></script>
        <link rel="stylesheet" href="{% static 'homepage/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'loginSignup/style.css' %}">
    </head>

    <body>
        <div class="title"> Welcome to the CS2610 Hacking Challenge </div>
        

        <div class="signinText"> Sign Up </div>

        {% if form.errors %}
            {% for errors in form.errors %}
                <div class="errors">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors }} is required!
                </div>
            {% endfor %}

        {% endif %}
        
        {% if messages %}
            {% for message in messages %}
                <div class="errors">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ message }}!
                </div>
            {% endfor %}

        {% endif %}
        <div class="loginForm" autocomplete="off">
            <form action="{% url 'loginSignup:signUp' %}" method="POST" autocomplete="off">
                {% csrf_token %}
                {{ form.firstName }}
                {{ form.lastName }} <br>
                {{ form.username }} <br>
                {{ form.email }} <br>
                <div id='password'>
                    {{ form.password }} <br>
                </div>
                <div id='confirmPassword'>
                    {{ form.confirm_password }} <br>
                </div>
                {{ forms.as_p }}

                <button id="submitButton" type="submit"> CREATE ACCOUNT </button>
            </form>
        </div>
        <div class="signUpText">
            <a class="linkText" href="../"> Sign In  </a>
        </div>


    </body>

   <script>
        var password = document.querySelector("#password")
        var confirm_password = document.querySelector("#confirmPassword")

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity("");
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;


   </script>



</html>


