<!DOCTYPE html>

<html>

    <head>
        {% load static %}
        <title> CS2610 Create Account </title>
        <meta charset="utf-8">
        <script src="https://unpkg.com/vue@next"></script>
        <link rel="stylesheet" href="{% static 'homepage/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'loginSignup/style.css' %}">
    </head>

    <body>
        <div class="title"> CS 2610 <br> <div id="hackingChallengeTitle"> Hacking Challenge </div> </div>
        


        {% if form.errors %}
            {% for errors in form.errors %}
                <div class="errors">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors }} is required!
                </div>
            {% endfor %}

        {% endif %}
        
        {% if messages %}
            {% for message in messages %}
                <div class="errors">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ message }}!
                </div>
            {% endfor %}

        {% endif %}

        <div class="wrapperCreate">
            <div class="createAccountForm">
                <div class="createAccountText"> Create your Account </div>
                <form action="{% url 'loginSignup:signUp' %}" method="POST" autocomplete="off">
                    {% csrf_token %}
                    <div class='sameLine'>
                        {{ form.firstName }} 
                         {{ form.lastName }} 
                    </div>
                    {{ form.username }} 
                    {{ form.email }} 
                    <div class="sameLine" id='password'>
                        {{ form.password }}  
                        {{ form.confirm_password }}  
                    </div>
                    {{ forms.as_p }}


                <div class="bottomButtonHolder">
                    <div class="signUpText">
                        <a class="linkText" href="../"> Sign In Instead </a>
                    </div>
                    <div class="whiteSpaceCreate"> </div>
                    <button id="submitButton" type="submit"> CREATE ACCOUNT </button>
                </div>
                </form>

            </div>
            <div id="accountInformation">
                * Use your USU email or Aggiemail <br>
                * Use your real name. Submissions will be graded on that <br>
                * Username can be whatever and will be your login <br>
            </div>
        </div>

    </body>

   <script>
        var password = document.querySelector("#password")
        var confirm_password = document.querySelector("#confirmPassword")

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity("");
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;


   </script>



</html>


