<!DOCTYPE html>

<html>

    <head>
        {% load static %}
        <title> CS2610 Login </title>
        <meta charset="utf-8">
        <script src="{% static 'homepage/node_modules/vue/dist/vue.global.prod.js' %}"></script>
        <link rel="stylesheet" href="{% static 'homepage/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'loginSignup/style.css' %}">
    </head>

    <body>
        <div class="title"> CS 2610 <br> <div id="hackingChallengeTitle"> Hacking Challenge </div> </div>
        

        {% if error_message %}
            <div class="errors">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ error_message }}
            </div>
        {% endif %}

        <div class="wrapper">
            <div class="signinForm">
                <div class="createAccountText"> Login </div>
                <form action="{% url 'loginSignup:signIn' %}" method="POST" autocomplete="off">
                    {% csrf_token %}
                    <input class="formEntryLogin" id="usernameLogin" type="text" name="username" placeholder="Username" required><br>
                    <input class="formEntryLogin" id="passwordLogin" type="password" name="password" placeholder="Password" required><br>

                    <div class="bottomButtonHolder">
                        <div class="signInText">
                            <a class="linkText" href="signUp">
                                <div> Create an Account </div>
                            </a>
                        </div>
                        <div class="whiteSpace"> </div>
                        <button id="submitButtonLogin" type="submit"> SIGN IN </button>
                    </div>
                </form>
            </div>
        </div>




    </body>


</html>
