<!DOCTYPE html>

<html>

    <head>
        {% load static %}
        <title> CS2610 Login </title>
        <meta charset="utf-8">
        <script src="https://unpkg.com/vue@next"></script>
        <link rel="stylesheet" href="{% static 'homepage/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'loginSignup/style.css' %}">
    </head>

    <body>
        <div class="title"> Welcome to the CS2610 Hacking Challenge </div>
        

        <div class="signinText"> Sign In </div>


        {% if error_message %}
            <div class="errors">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ error_message }}
            </div>
        {% endif %}

        <div class="loginForm">
            <form action="{% url 'loginSignup:signIn' %}" method="POST" autocomplete="off">
                {% csrf_token %}
                <input class="formEntry" type="text" name="username" placeholder="Username" required><br>
                <input class="formEntry" type="password" name="password" placeholder="Password" required><br>
                <button id="submitButton" type="submit"> SIGN IN </button>
            </form>
        </div>
        <div class="signUpText">
            <a class="linkText" href="signUp"> Create an Account </a>
        </div>




    </body>


</html>
